IMG	{
	padding: 0;
	margin: 0;
	border: 0;
}
DIV	{
	padding: 0;
	margin: 0;
	border: 0;
	text-align: left;
}
BODY{
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #3e3e40;
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
}
H1{
	font-size: 1.9em;
	letter-spacing: .01em;
}
H2{
	font-size: 1.325em;
	letter-spacing: -.035em;
	
}
H3{
	font-size: .95em;
	letter-spacing: -.019em;
	
}
H4{
	font-size: .75em;
	letter-spacing: .03em;
}

A{
	color: #d0ed00;
	font-weight: bold;
	text-decoration: none;
}

A:hover{
	color: #d0ed00;
	text-decoration: underline;
}

HR {
	height: 1px;
	border: 0;
	background-color: #757577;
	margin: 20px 0;
	padding: 0;
}
P {
	font-family:"Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
	line-height: 1.3em;
}
TABLE,TD,TH,TR {
	background-color: #757577;
}
